/* підк основний шрифт до всього бади */
.body {
  font-family: "Inika", serif;
  font-weight: 700;
}
.h1 {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 700;
  margin: 50px 0;
  padding-left: 1%;
  padding-bottom: 2%;
  /* width: 610px; */
}

.h2 {
  margin: 50px auto;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
/* border-bottom: 5px solid #3E45E8; */

/* border  -  створюємо рамку
border top/bottom - ramka up or down
solid - уся довжина блоку
 - або створюємо через клас line / */

.line {
  margin-top: 2%;
  width: 402px;
  border-bottom: 5px solid #3e45e8;
}

.line1 {
  margin: 2% auto;
  width: 402px;
  border-bottom: 5px solid #3e45e8;
}

/* робимо висоту 110px
або висоту по контенту та макс висоту 103 
за допомогою max-height 
але висоту майже не використовують - зачасту тілки відступи*/
.header {
  padding: 25px 0;
  min-height: 50px;
  max-height: 110px;
  text-align: center;
  color: #3e45e8;
  font-size: 48px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
}

.header-span1 {
  color: #3e45e8;
}
.header-span2 {
  color: #e8c23e;
}

/* робимо фонову картинку  із текстом поверх
додаємо background-image url */

.banner {
  box-sizing: border-box;
  height: 803px;
  background-image: url("../img/image\ 1.png");
  padding-top: 10%;
  padding-left: 5%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1% 0;
}

/* робимо картинку в картинці через фон
  додаэмо в контент background image*/
.content {
  box-sizing: border-box;
  font-size: 48px;
  height: 272px;
  width: 70%;
  padding-left: 40px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/flag.png");
  font-weight: 700;
}

/* закінчили хедер частини 
та переходимо до налаштування наступних 
робимо Н1 - це глобальний класс,
 тому задаємо його зверху під "баді" */

.main {
  box-sizing: border-box;
  padding: 0 80px;
}

.card {
  box-sizing: border-box;
  color: #1e8df2;
  border: 1px solid #1e8df2;
  width: 30%;
  font-weight: 700;
  /* вирівнюємо блокові елементи в лінію
  display: inlina-block; */
  display: inline-block;

  /* рівняємо картки по висоті */
  vertical-align: top;
  border-radius: 8%;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.25);
  /* overflow hidden - ріже все,
   що вилазить за блок */
}

.card__box {
  margin-bottom: 20px;
}

.card__image {
  width: 100%;
}

.card_margin {
  margin: 0 1%;
}

.card__title {
  font-size: 24px;
  padding: 3%;
  box-sizing: border-box;
}

.card__subtitle {
  font-size: 20px;
  color: #e8c23e;
  font-weight: 400;
  padding: 3%;
  max-width: 297px;
}

.map {
  height: 537px;
  text-align: center;
}

.map__ukraine {
  margin: 0 auto;
}

.btn__donate {
  margin: 5% auto;
  width: 591px;
  text-align: center;
}

.btn__donate_name {
  padding: 3%;
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  background-color: #2a61f0;
}

.footer {
  /* робимо по бажанню fixed static sticky */
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 320px;
  color: #a89d9d;
  background-color: #2f4a4b;
  text-align: center;
  font-size: 48px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
}

.footer-span1 {
  color: #3e45e8;
}
.footer-span2 {
  color: #dfe31e;
}

.email {
  width: 459px;
  font-family: Marcellus SC;
  font-size: 36px;
  margin:1% auto;
}

A {
  /* зробити лінки без підкресень та 
  необхідного кольору */
  color: #a89d9d;
  text-decoration: none;
}

.phone {
  font-family: Marcellus SC;
  font-size: 36px;
  margin:1% auto;
}
